body {font-size: 69%;}

h2 {border-bottom: 1px solid; font-size: 160%;}
h3 {text-decoration: underline; font-size: 125%;}

/* tables */
table {border-collapse: collapse;}
table td {padding-right: 20px;}

.gameinfo {font-size: 100%;}

.teams {}

.team {vertical-align: top; padding: 10px;}
.winner {border: 2px solid e4e5e6;}

.points {font-size: 140%;}

.player td {padding: 4px; vertical-align: top; font-size: 69%;}
.player thead {border-bottom: 1px solid black;}
.player thead td {text-align: left;}

.shots thead {border-bottom: 1px solid e4e5e6;}
.shots thead td {text-align: left;}

.even {background-color: e4e5e6;}

.grey {color: 555657;}
