<!doctype html>
<html lang="en" ng-app="bfstats">
<head>
  <meta charset="utf-8">
  <title>My HTML File</title>
  <script src="lib/moment.min.js"></script>
  <script src="lib/angular.min.js"></script>
  <script src="app/js/controllers.js"></script>
  <script src="lib/ng-grid/lib/jquery-1.9.1.js"></script>
  <script src="lib/ng-grid/lib/jquery-ui-1.9.1.custom.min.js"></script>
  <script src="lib/ng-grid/lib/jquery.layout-latest.min.js"></script>
  <script src="lib/ng-grid/ng-grid-2.0.7.debug.js"></script>
  <link rel="stylesheet" type="text/css" href="lib/ng-grid/ng-grid.css" /> 
  <link rel="stylesheet" type="text/css" href="lib/ng-grid/lib/bootstrap/css/bootstrap.min.css" /> 
  <link rel="stylesheet" type="text/css" href="lib/ng-grid/lib/bootstrap/css/bootstrap-responsive.min.css" /> 
  <link rel="stylesheet" type="text/css" href="app/css/style.css" /> 
</head>
<body ng-controller="StatsCtrl">
	<div ng-if="player" ng-controller="PlayerCtrl">
		{{player}}
		<h1 class="auth"> {{player.player_name}} </h1>
		<span class="badge" ng-if="player.achievements" ng-repeat="achievement in player.achievements"><img title="{{achievement.hint}}" src="badges/{{achievement.image}}"></img></span>

		<div id="frags">
			<h2>Frags</h2>
			Kills:       {{player.kill_count}}<br/>
			Deaths:      {{player.death_count}} <br/>
			Suicides:    {{player.suicide_count}}<br/>
			KDR:         {{player.kill_death_ratio}}<br/>
			Spread:      {{player.kill_count - player.death_count}}<br/>
			Spread/game: {{(player.kill_count - player.death_count) / player.game_count | number:2}}<br/>
		</div>
		<div id="flags">
			<h2>Flags</h2>
			Taken:       {{player.flag_pickups}}<br/>
			Dropped:     {{player.flag_drops}}<br/>
			Returned:    {{player.flag_returns}}<br/>
			Scored:      {{player.flag_scores}}<br/>
			Scored/game: {{player.flag_scores / player.game_count | number:2}}<br/>
		</div>
		<div id="games">
			<h2>Games</h2>
			Played:      {{player.game_count}}<br/>
			Wins:        {{player.win_count}}({{player.win_count / player.game_count}})<br/>
			Losses:      {{player.lose_count}}({{player.lose_count / player.game_count}})<br/>
			Ties:        {{player.tie_count}}({{player.tie_count / player.game_count}})<br/>
			Points:      {{player.points}}<br/>
			Points/game: {{player.points / player.game_count | number:2}}<br/>
			</div>
		<div id="misc">
			<h2>Misc</h2>
			Asteroids Destroyed:     {{player.asteroid_kills}}<br/>
			Asteroid Crashes:        {{player.asteroid_crashes}}<br/>
			Force Fields Destroyed:  {{player.ff_kills}}<br/>
			Force Fields Engineered: {{player.ffs_engineered}}<br/>
			Turrets Destroyed:       {{player.turret_kills}}<br/>
			Turrets Engineered:      {{player.turrets_engineered}}<br/>
			Teleporters Engineered:  {{player.teleports_engineered}}<br/>
			Distance Traveled:       {{player.distance_traveled}}<br/>
			Teleportations:          {{player.teleport_uses}}<br/>
			Team Switches:           {{player.switched_team_count}}<br/>
			Last Seen:               {{player.last_update}}<br/>
			</div>
		<div id="weapons">
			<h2>Weapons</h2>
		</div>
		<div style="clear: both"></div>
	</div>

	</div>
	<div>
		<div class="stats" ng-if="stats" ng-grid="options"></div>
		<div class="stats" ng-if="!stats" ng-style="loadingStyle">
			<noscript>
				A modern, JavaScript-enabled browser is required to use this page.
			</noscript>
		</div>
	</div>
</body>
</html>