body {
  background: #AAA;
}

#frags, #games, #flags, #misc, #weapons {
  margin-bottom: 15px;
}

#weapons table {
  width: 100%;
}

.stat {
  float: right;
}

.badge {
}

.stats {
  height: 400px;
}

.ngVerticalBar {
  height: 100%;
}
