body {
  background: #000;
  background-image: url(../img/stars.gif);
  color: #AAA;
}

h1, h2, h3, h4, h5, h6 {
}

h4 {
  /*border-bottom: 1px solid #EEE;*/
  background: #010101;
  color: #CCC;
  padding: .25em;
  border-bottom: 2px solid #444;
}

#frags, #games, #flags, #misc, #weapons {
  margin-bottom: 15px;
}

#frags > h4 {
  border-bottom-color: #80100F;
}

#flags > h4 {
  border-bottom-color: #4c1348;
}

#games > h4 {
  border-bottom-color: #142030;
}

#misc > h4 {
  border-bottom-color: #476f26;
}

#weapons table {
  width: 100%;
  text-align: right;
}

#weapons table .weapon {
  text-align: left;
}

#weapons table > thead {
  text-decoration: underline;
  /*text-align: left;*/
}

.container {
  background: rgba(0, 0, 0, .85);
}

.period {
  border: 1px solid #EEE;
  background: #DDD;
  color: #222;
  margin: .5em 0;
}

.stat {
  float: right;
  color: #EEE;
}

.achievement {
}

.stats {
  height: 400px;
}

/**
 * Grid styles
 */

.ngGrid {
  background: none;
}

.ngTopPanel, .ngHeaderContainer, .ngHeaderScroller {
  background: #010101;
  border-bottom: 1px solid #444;
}

.ngColMenu {
  background: #000000;
  border: 1px solid #444;
}

.ngRow {
  background: none;
  border-bottom: 1px solid transparent;
}

.ngRow.even {
  background: #0A0A0A;
}

.ngRow.odd { 
  background: none;
}

.ngRow.selected {
  background: #142030;
}

.ngVerticalBar {
  height: 100%;
}

.ngHeaderCell {
  background: none;
}

.ngCell {
  background: none;
}

.ngVerticalBar {
  background: none;
}