<select class="period" ng-model="selectedPeriod" ng-options="period.pretty for period in periods">
</select>
<div class="stats" ng-if="stats && stats.length > 0" ng-grid="options"></div>
<div class="no-stats" ng-if="stats && stats.length === 0">No stats found for {{selectedPeriod.pretty}}</div>
<noscript ng-if="!stats">
	A modern, JavaScript-enabled browser is required to use this page.
</noscript>
<div ng-if="player && !player.found">
	No stats found for {{selectedPlayer.player_name}} during {{selectedPeriod.pretty}}
</div>
<div ng-if="player.found">
	<h1 class="auth"> {{player.player_name}} </h1>

	<div id="badges">
		&nbsp;
		<span class="achievement" ng-if="player.achievements" ng-repeat="achievement in player.achievements"><img title="{{achievement.hint}}" src="badges/{{achievement.image}}"></img></span>
	</div>

	<div class="row">
		<div class="col-xs-12 col-md-4" ng-repeat="(group, propertyDefs) in propertyMap" id="{{group}}">
			<h4>{{group}}</h4>
			<div ng-repeat="property in propertyDefs">
			{{property.name | statName}}
			<span style="float: right" bf-rank="property.name"></span>
			<span class="rank">#{{rank}}</span>
			<span class="stat">{{player[property.name] | stat}}</span>
			</div>
		</div>
		<div class="col-xs-12 col-md-8" id="weapons">
			<h4>Weapons</h4>
			<table>
				<thead><tr><td class="weapon">Weapon</td><td>Fired</td><td>Hit</td><td>Accuracy</td></tr></thead>
				<tr><td class="weapon">Phaser</td><td>{{player.phaser_shots}}</td><td>{{player.phaser_shots_struck}}</td><td>{{player.phaser_shots_struck / player.phaser_shots | percentage}}</td></tr>
				<tr><td class="weapon">Bouncer</td><td>{{player.bouncer_shots}}</td><td>{{player.bouncer_shots_struck}}</td><td>{{player.bouncer_shots_struck / player.bouncer_shots | percentage}}</td></tr>
				<tr><td class="weapon">Triple</td><td>{{player.triple_shots}}</td><td>{{player.triple_shots_struck}}</td><td>{{player.triple_shots_struck / player.triple_shots | percentage}}</td></tr>
				<tr><td class="weapon">Burst</td><td>{{player.burst_shots}}</td><td>{{player.burst_shots_struck}}</td><td>{{player.burst_shots_struck / player.burst_shots | percentage}}</td></tr>
				<tr><td class="weapon">Mine</td><td>{{player.mine_shots}}</td><td>{{player.mine_shots_struck}}</td><td>{{player.mine_shots_struck / player.mine_shots | percentage}}</td></tr>
				<tr><td class="weapon">Spybug</td><td>{{player.spybug_shots}}</td><td>{{player.spybug_shots_struck}}</td><td>{{player.spybug_shots_struck / player.spybug_shots | percentage}}</td></tr>
			</table>
		</div>
	</div>
</div>